/* Global Layout Set-up */
* { 
  /*box-sizing: border-box;*/
  /*border-style: solid;*/
  /*border-color: blue;*/
  /*border: 1px solid black; */
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

button {
	width: 90%;
	padding: 20px;
	background-color: #38bcb6;
	color: white;
	border-radius: 5px;
	border: 1px solid #38bcb6;
}

header h1 {
	margin: 0;
	padding: 30px;
	background-color: #0d1a26;
	color: white;
}

header p {
	color: grey;
}

hr {
	width: 95%
}

textarea {
	background-color: #eaebed;
	width: 80%;
	padding: 20px;
	border: 1px solid #eaebed;
	resize: none;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 25px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.copyright {
	padding-top: 20px;
	padding-bottom: 300px;
	font-style: italic;
	color: grey;
}

#hr1 {
	margin-top: 50px;
	margin-bottom: 2px;
	border: 3px solid;
}

#hr2,
#hr3 {
	margin-top: 5px;
	border: 1px solid;
}

/* For Styling the Contact Form Fields */
.contact-info {
	text-align: left;
	margin: 20px;
}

.contact-info input,
.contact-info select {
	margin-top: 15px;
	margin-bottom: 20px;
	height: 50px;
	border-radius: 5px;
	background-color: #eaebed;
	color: grey;
	border: 3px solid #eaebed;
	padding-left: 20px;
}

.contact-info input:focus {
	border-color: #0d1a26;
}

.contact-info input[id="zip"] {
	width: 50%
}

.contact-info input[placeholder="Required "] {
	text-align: right;
	font-style: italic;
	padding-right: 20px
}

.contact-info label {
	color: grey;
}

/* For Styling the Newsletter Fields */
.newsletter {
	text-align: left;
	margin: 20px;
	color: grey;
}

.newsletter h2 {
	color: black;
}

.newsletter label {
	padding: 10px;
}

/* ---- Float clearfix ---- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* Media Query on iPad */
@media (min-width: 768px) {

	button {
		width: 75%
	}

	hr {
		width: 75%
	}

	textarea {
		width: 70%
	}

	.contact-info {
		margin: 20px 125px;
	}

	.newsletter {
		margin: 20px 125px;
	}

}	
