body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}
button {
	padding: 20px;
	background-color: #38bcb6;
	color: white;
	border-radius: 5px;
	border: 1px solid #38bcb6;
}
header {
	text-align: center;
	margin-bottom: 4px;
	padding-bottom: 25px;
}
header h1 {
	margin: 0;
	padding: 30px;
	background-color: #0d1a26;
	color: white;
}
label, p {
	color: grey;
}
textarea {
	background-color: #eaebed;
	border: 1px solid #eaebed;
	resize: none;
	border-radius: 5px;
	height: 100px;
}
.container {
	display: inline-block;
	width: 90%;
	text-align: left;
	border-top: 5px solid;
}
.copyright {
	padding-top: 20px;
	padding-bottom: 300px;
	font-style: italic;
	text-align: center;
}
.flex-contact {
	border-top: 2px solid;
	padding-top: 15px;
	margin-top: 5px;
}
.flex-contact input::placeholder {
	text-align: right;
	font-style: italic;
	padding-right: 20px;
}
.flex-contact input, .flex-contact select {
	margin-top: 15px;
	margin-bottom: 20px;
	height: 50px;
	border-radius: 5px;
	background-color: #eaebed;
	color: grey;
	border: 3px solid #eaebed;
	padding-left: 20px;
}
.flex-contact input[id="zip"] {
	width: 50%
}
.flex-contact input:focus {
	border-color: #0d1a26;
}
.flex-contact .flex-contact-item, .flex-newsletter {
	display: flex;
	flex-direction: column;
}
.flex-newsletter {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 2px solid;
}
.flex-newsletter label {
	padding: 10px;
}
.flex-newsletter .flex-newsletter-item, .flex-newsletter p {
	margin-bottom: 20px;
}
/* Media Query on iPad */
@media (min-width: 768px) {
	header h2 {
		padding-top: 30px;
	}
	.container {
		width: 70%;
	}
	.flex-contact input, select {
		width: 80%;
		padding: 0;
		border: 0;
	}
	.flex-contact .flex-contact-item {
		flex-direction: row;
		align-items: center;
	}
	.flex-contact .flex-contact-item:nth-child(8) {
		width: 40%;
		align-items: center;
	}
	.flex-contact>.flex-contact-item>label {
		flex: 1;
		padding-right: 10px;
	}
}